.thumbnail {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

/* .thumbnail img {
    width: 100%;
    height: auto;
    display: block;
} */
 /* .thumbnail{
    width: 100px;
    height: 100px;
 } */